html, body, * {
  box-sizing: border-box;
}

html, body {
  height:100%;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}


#alphabet {
  width: 400px;
  height: auto;
  border: 1px solid black;
  color: red;
  font-size: 20px;
  padding: 2%;
}

.wrappper{
  @include clear;
  width:100%;
  margin:0 auto;
}


button{
  @include corners (5px);
  background:$base-color;
  color:$white;
  border: solid 1px $white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;

    &:hover{
      @include transition;
      background:$white;
      border: solid 1px $white;
      color:$base-color;
    }
}
