body {
    font-family:sans-serif;
    font-weight:bold;
    font-size:24px;
    background-image: url("image/word guess.jpg");
    background-repeat: no-repeat;
}

#letter-input {
    border:1px gray solid;
    width:20pt;
    font-size:14pt;
    text-align:center;
}

#msg{
  height: 200px;
  width: 200px;
  background-color: black;
  font-size: 2rem;
  color: white;
}

.container-title {
    color:slategray;
}

.guessed-letter {
    color: gray;
}

.input-area {
    width:75px;
    margin:auto;
    padding:3pt;
    border: 1px darkgray solid;
    border-radius:15px;
    background:red;
}

.message-box {
 font-size: 4em;
 color: #fff;
 font-family: sans-serif;
 letter-spacing: 3px;
}

.progressHolder {
  letter-spacing: 7px;
}

.side-container {
    margin-top:45px;
    margin-left:130px;
    width:170px;
    text-align:center;
}

.shown_letter {
    border-bottom: 3px black solid;
    padding: 0 2px;
    color:#1c2025;
}

.topmatter {
    height:210px;
}

.word-box {
    width:250px;
    margin:auto;
    margin-top:25px;
    text-align:center;
}

.word-display {
    background:lightblue;
    border:1px blue solid;
    padding:3pt;
    border-radius:15px;
    -moz-border-radius:15px;
}
