body {
    font-family:sans-serif;
    font-weight:bold;
    font-size:24px;
    /*background-image: url("image/word guess.jpg");*/
    background-repeat: no-repeat;
}

html, body {
  height:100%;
  position: relative;
  min-height: 100%;
  margin: 0;
  /*padding: 10px;*/
}

#letter-input {
    border:1px gray solid;
    width:20pt;
    font-size:14pt;
    text-align:center;
}

#msg{
  height: 200px;
  width: 200px;
  background-color: black;
  font-size: 2rem;
  color: white;
}

.container-title {
    color:slategray;
}

.guessed-letter {
    color: gray;
}

input {
  height: 24px;
  font-size: 20px;
  width: 40px;
  text-align: center;
}

.body div {
  visibility: hidden;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.btn {
  background: grey;
  border-radius: 10px;
  font-family: Arial;
  color: white;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: green;
  text-decoration: none;
}

.cf:before,
.cf:after{
 content:" ";
 display:table;
=======
.message-box {
 font-size: 4em;
 color: #fff;
 font-family: sans-serif;
 letter-spacing: 3px;
}

.progressHolder {
  letter-spacing: 7px;
}

.side-container {
    margin-top:45px;
    margin-left:130px;
    width:170px;
    text-align:center;
>>>>>>> 8bfdb6c2a858ff327db2a254dc54be06bf6ae691
}

.shown_letter {
    border-bottom: 3px black solid;
    padding: 0 2px;
    color:#1c2025;
}

<<<<<<< HEAD
.child_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  align-items: center;
  text-align: center;
  /*background-color: darkblue;*/
  color: black;
  height: 90px;
  width: 600px;
  /*padding: 10px;*/
  margin: 90px;
  /*border-radius: 10px;*/
}

.feedback {
  font-size: 30px;
  margin: 10px 0;
  font-weight: bolder;
}

.guessedLetters {
  font-size: 25px;
  margin: 10px 0;
}

.guessesRemaining {
  font-size: 20px;
  margin: 10px 0;
  color: darkred;
}

.parent_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("image/background.jpg");
}

.part {
  width: 400px;
  height: 400px;
  positon: absolute;
  color: black;
}

.reset {
    margin: 15px;
    background: maroon;
    border-color: white;
    border-radius: 10px;
    font-family: Arial;
    color: white;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.reset:hover {
  background: blue;
  text-decoration: none;
}

.tracker {
  font-size: 25px;
  color: black;ß
  margin: 10px 0;
}


/* ID stylings*/

#alphabet {
  width: 500px;
  height: auto;
  border: 1px solid black;
  color: red;
  font-size: 20px;
  padding: 15px 32px;
  margin: auto;
}

#arm1 {
  position: relative;
  width: 40px;
  height: 120px;
  background-color: red;
  margin: 0;
  top: -185px;
  left: 185px;
  transform: rotate(30deg);
  border-top-left-radius: 20px;
}

#arm2 {
  position: relative;
  width: 40px;
  height: 120px;
  background-color: pink;
  margin: 0;
  top: -305px;
  left: 295px;
  transform: scaleX(-1) rotate(30deg);
  border-top-left-radius: 20px;
}

#chooseLetter {
  background-color: grey;
  border: 2px black solid;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

#game-board {
  background-color: #4CAF50;
  border: 1px solid black;
  width: 15em;
  margin:2%;
  padding: 2%;
  color:white;
=======
.topmatter {
    height:210px;
}

.word-box {
    width:250px;
    margin:auto;
    margin-top:25px;
    text-align:center;
}

.word-display {
    background:lightblue;
    border:1px blue solid;
    padding:3pt;
    border-radius:15px;
    -moz-border-radius:15px;
>>>>>>> 8bfdb6c2a858ff327db2a254dc54be06bf6ae691
}

#hang {
  position: relative;
  left: 220px;
  top: -835px;
}

#head {
  position: relative;
  border-radius: 50%;
  background-color: black;
  width: 80px;
  height: 80px;
  left: 220px;
  margin: 0;
}

#leg1 {
  position: relative;
  width: 40px;
  height: 160px;
  background-color: grey;
  top: -255px;
  left: 215px;
  margin: 0;
}

#leg2 {
  position: relative;
  width: 40px;
  height: 160px;
  background-color: blue;
  top: -415px;
  left: 265px;
  margin: 0;
}

#neck {
  position: relative;
  background-color: black;
  width: 30px;
  height: 40px;
  left: 245px;
  margin: 0;
  top: -15px;
}

#torso {
  position: relative;
  width: 90px;
  height: 160px;
  top: -15px;
  left: 215px;
  margin: 0;
  background-color: khaki;
}
